[submodule "games/miner"]
	path = games/miner
	url = https://github.com/chaos-adept/Miner.git
[submodule "buildSrc/gradlefx"]
	path = buildSrc/gradlefx
	url = https://github.com/chaos-adept/GradleFx.git
